@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales adicionales */
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #0D1F23, #132E35);
  font-family: 'Poppins', sans-serif;
  color: #AFB3B7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}